/* color: #ff8d34 */
body {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
  body input, body textarea {
    font-size: 1em; }
  body .link {
    cursor: pointer;
    padding-bottom: 2px;
    color: blue;
    text-decoration: underline; }
  body button {
    color: white;
    background-color: #0078e7;
    font-size: 1em;
    padding: .5em 1em;
    border: 0 transparent;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; }
    body button:visited {
      color: #265778; }
  body .err-msg {
    font-size: 0.8em;
    color: red; }

/* top-bar */
#top-bar {
  position: fixed;
  width: 100%;
  background-color: darkslategrey;
  display: flex;
  line-height: 2em;
  flex-direction: row;
  z-index: 2; }
  #top-bar * {
    margin-right: 0.5em; }
  #top-bar #new-post-button button {
    background-color: transparent; }
    #top-bar #new-post-button button svg {
      width: 1.3em;
      height: 1.3em;
      fill: white; }
  #top-bar span {
    color: white;
    font-size: 1.2em;
    padding-left: 1.0em;
    padding-right: 1.0em; }
  #top-bar #top-bar-search {
    margin-top: 0.3em;
    margin-left: auto; }
  #top-bar #search-button {
    background-color: transparent; }
    #top-bar #search-button svg {
      width: 1.3em;
      height: 1.3em;
      fill: white; }

/* nav-bar */
.nav-bar-container {
  padding: 1em; }
  .nav-bar-container .nav-bar-content {
    display: flex; }
  .nav-bar-container ul.nav-bar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }
    .nav-bar-container ul.nav-bar li {
      float: left;
      flex: 1 1 auto; }
      .nav-bar-container ul.nav-bar li.selected {
        background-color: #4CAF50; }
      .nav-bar-container ul.nav-bar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer; }
        .nav-bar-container ul.nav-bar li a:hover {
          background-color: #111; }

/* tags */
.tag-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.3em;
  flex-wrap: wrap; }
  .tag-group .tag {
    padding: .2em .4em;
    font-size: 0.8em;
    margin-right: 0.2em;
    background-color: cornflowerblue;
    border: none;
    color: white; }

/* blog post */
.blogpost {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 3em;
  border: solid;
  border-width: 0.2em;
  border-radius: 1em;
  border-color: #cccccc; }
  .blogpost .tag-group {
    margin-top: 2em; }
  .blogpost .post-footer {
    position: relative;
    top: 2.2em;
    font-size: 0.8em; }
    .blogpost .post-footer span {
      margin-right: 3em; }
  .blogpost .update-button {
    display: inline-block;
    position: relative;
    float: right;
    top: 0.7em;
    right: -0.4em; }
    .blogpost .update-button .edit-button {
      background: url(./edit.svg) no-repeat;
      text-indent: -1000em; }
  .blogpost .share-panel {
    display: flex;
    max-width: 10em;
    justify-content: space-around;
    position: relative;
    float: right;
    bottom: 0.2em;
    right: -0.3em; }
    .blogpost .share-panel .social-icon {
      cursor: pointer; }

/* overlay */
.full-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s; }
  .full-overlay .overlay-content {
    display: inline-block;
    border: thin;
    border-style: solid;
    border-color: white;
    background-color: whitesmoke;
    max-width: 80%;
    padding: 0.5em;
    z-index: 5;
    overflow: auto;
    /* center content */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* post-editor */
#editor .editor-panel {
  width: 70vw;
  height: 70vh; }
  #editor .editor-panel input {
    width: 100%;
    margin-top: 0.7em;
    margin-bottom: 0.3em; }
  #editor .editor-panel textarea {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    resize: none; }

/* directory */
#directory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em; }

/* page-content layout */
.page-content {
  position: relative;
  top: 2em;
  display: flex;
  width: 100%; }
  .page-content #directory {
    flex: 1 1; }
  .page-content > div {
    padding-top: 2em;
    flex: 3 1 auto; }

/* */
.form label {
  position: relative;
  left: 1em;
  display: inline-block;
  width: 10em; }

/*# sourceMappingURL=index.css.map */
