/* color: #ff8d34 */

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  input, textarea {
    font-size: 1em;
  }

  .link {
    cursor: pointer;
    padding-bottom: 2px;
    color: blue;
    text-decoration: underline;
  }

  button {
    display: inline-block;
    color: white;
    background-color: blue;

    padding: .5em 1em;
    margin-right: 0.5em;

    border: 0 rgba(0,0,0,0);
    border-radius: 0.2em;

    text-decoration: none;
    zoom: 1;

    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;

    cursor: pointer;
    box-sizing: border-box;

    &:visited {
      color: #265778;
    }
  }

  .err-msg {
    font-size: 0.8em;
    color: red;
  }

  #directory {
    padding-left: 2em;
  }

  .post-content {
    line-height: 1em;
  }

  .collapse-button {
    font-size: 0.9em;
    color: gray;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
  }

  table {
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    th {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #666666;
      background-color: #dedede;
    }
    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #666666;
      background-color: #ffffff;
    }
  }
}

/* top-bar */
#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: darkslategrey;
  display: flex;
  line-height: 2em;
  flex-direction: row;
  z-index: 2;

  #new-post-button {
    > button {
      padding-left: 0.5em;
      background-color: transparent;
      font-size: 1em;
      svg {
        width: 1.3em;
        height: 1.3em;
        fill: white;
      }
    }
  }

  > span {
    margin-right: 0.5em;
    color: white;
    font-size: 1.2em;
    padding-left: 1.0em;
  }

  #top-bar-search {
    margin-top: 0.3em;
    margin-left: auto;
  }

  #search-button {
    background-color: transparent;
    svg {
      width: 1.3em;
      height: 1.3em;
      fill: white;
    }
  }
}

#side-bar-container {
  display: flex;
  flex-direction: row;

  #directory {
    flex-grow: 1;
    border-right: 0.2em solid #cccccc;
    padding-left: 0;
    .tag-list {
      list-style-type: none;
      padding: 0;
      border-top: 0.2em solid #cccccc;
      li {
        padding: 1em 3em;
        border-bottom: 0.2em solid #cccccc;
      }
    }
  }

  #post-list {
    flex-grow: 3;
  }
}

/* nav-bar */
.nav-bar-container {
  padding: 1em;

  .nav-bar-content {
    display: flex;
  }

  ul.nav-bar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3ccff;

    li {
      float: left;
      flex: 1 1 auto;

      &.selected {
        background-color: #003cb3;
        a {
          color: white;
          &:hover {
            background-color: #003cb3;
          }
        }
      }

      a {
        display: block;
        color: #003399;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: #1a75ff;
        }
      }
    }
  }
}

/* tags */
.tag-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.3em;
  flex-wrap: wrap;
  position: relative;
  top: 1em;

  .tag {
    padding: .2em .4em;
    font-size: 1em;
  }
}

/* blog post */
.blogpost {
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 3em;
  border-bottom: solid;
  border-width: 0.2em;
  border-color: #cccccc;

  &[data-author='Qingwei'] {
    background-color: #e6f2ff;
  }

  &[data-author='Suhui'] {
    background-color: #ffe6ff;
  }

  .tag-group {
    margin-top: 2em;
  }

  .post-footer {
    position: relative;
    top: 1.5em;
    font-size: 0.8em;

    span {
      margin-right: 3em;
    }
  }

  .update-button {
    display: inline-block;
    position: relative;
    float: right;
    top: 0.7em;
    right: -0.4em;
    .edit-button {
      background-color: transparent;
      svg {
        height: 2em;
        width: 2em;
        fill: black;
      }
    }
  }

  .share-panel {
    display: flex;
    max-width: 10em;
    justify-content: space-around;
    position: relative;
    float: right;
    bottom: 0.2em;
    right: -0.3em;

    .social-icon {
      cursor: pointer;
    }
  }

  span.author, span.updated-time {
    color: #0078e7;
  }
}

/* overlay */
.full-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;

  .overlay-content {
    display: inline-block;
    border: thin;
    border-style: solid;
    border-color: white;
    background-color: whitesmoke;
    max-width: 80%;
    padding: 0.5em;
    z-index: 5;
    overflow: auto;

    /* center content */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* post-editor */
#editor {
  .editor-panel {
    width: 70vw;
    height: 70vh;
    input {
      width: 100%;
      margin-top: 0.7em;
      margin-bottom: 0.3em;
    }
    textarea {
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      resize: none;
    }
  }
}

/* page-content layout */
.page-content {
  position: relative;
  top: 2em;
  display: flex;
  width: 100%;
  #directory {
    flex: 1 1;
  }

  > div {
    padding-top: 2em;
    flex: 3 1 auto;
  }
}

/* */
.form {
  label {
    position: relative;
    left: 1em;
    display: inline-block;
    width: 10em;
  }
}

.stream-item {
  font-family: fantasy;
  background-color: #EAE3E1;
}
